Numero: <input type="text" id="caixaNumero"/>
Seu nome: <input type="text" id="nomeUsuario"/>

<input type="submit" id="botaoSegredo" value="Ok"/>

<script>

    var segredo = [16, 34, 37, 42, 50, 58];

    var botaoSegredo = document.getElementById("botaoSegredo");

    botaoSegredo.onclick = botaoClicado;

    function botaoClicado(){

        var numeroDigitado = document.getElementById("caixaNumero").value;

        var nomeUsuario = document.getElementById("nomeUsuario").value;

        if(segredo == numeroDigitado){
            alert("Parabéns "+ nomeUsuario +", você acertou! " + segredo);
        } else {
            alert("Você errou! " + segredo);
        }
    }





</script>